body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif; */
    font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden; /* Hide scrollbars */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
/* 
.screenGrid {
    @apply w-screen h-screen grid;

    grid-template-rows: minmax(50px, 5fr) 35fr 60fr;
    transition: all 0.75s;
}

.screenGrid:hover {
    grid-template-rows: minmax(50px, 5fr) 90fr 5fr;
} */

.fullscreen {
    height: 92vh !important;
}

#videoGrid {
    height: 40vh;
    width: 100vw;
    transition: all 0.5s;
}

.screen {
    height: 100vh;
    width: 100vw;
}

.friends {
    height: 100px;
    width: 100vw;
}

.tracksContainer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 65px auto;
    gap: 25px 0;
}

.videoGridItem {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoWrapper {
    width: 100%;
    height: 100%;
}

.centeredVideo {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navItem {
    flex: 1;
    display: flex;
}

.triangle-down {
    width: 0;
    height: 0;
    border-top: 20px solid var(--color-bg-primary);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    cursor: ew-resize;
    margin-top: 5px;
}

.triangle-inner {
    position: relative;
    top: -17px;
    right: 9px;
    width: 0;
    height: 0;
    border-top: 12px solid #000000;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.seekbar-line {
    position: absolute;
    width: 1px;
    height: 500px;
    background-color: var(--color-bg-primary);
    left: 50%;
    right: 50%;
}

/*
    Themes
*/
.light {
    --color-text-primary: #faa916;
    --color-text-secondary: #546a76;
    --color-text-danger: #b80c09;
    --color-text-default-hard: #252525;
    --color-text-default: #2f3437;
    --color-text-default-soft: #353535;
    --color-text-inverse: #ffffff;
    --color-text-inverse-soft: #f7f6f3;

    --color-bg-primary: #faa916;
    --color-bg-secondary: #546a76;
    --color-bg-danger: #b80c09;
    --color-bg-default-hard: #ffffff; /*FIX*/
    --color-bg-default: #ffffff;
    --color-bg-default-soft: #f7f6f3;
    --color-bg-inverse: #2f3437;
    --color-bg-inverse-soft: #353535;
}

.dark {
    --color-text-primary: #faa916;
    --color-text-secondary: #284b63;
    --color-text-danger: #b80c09;
    --color-text-default-hard: #ffffff; /*FIX*/
    --color-text-default: #eeeeee;
    --color-text-default-soft: #d9d9d9;
    --color-text-inverse-hard: #252525;
    --color-text-inverse: #2f3437;
    --color-text-inverse-soft: #373c3f;

    --color-bg-primary: #faa916;
    --color-bg-secondary: #284b63;
    --color-bg-danger: #b80c09;
    --color-bg-default-hard: #252525;
    --color-bg-default: #2f3437;
    --color-bg-default-soft: #373c3f;
    --color-bg-inverse-hard: #ffffff; /*FIX*/
    --color-bg-inverse: #ffffff;
    --color-bg-inverse-soft: #d9d9d9;
}
