body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* overflow: hidden; Hide scrollbars */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.videoGrid {
    @apply w-screen h-screen grid;

    grid-template-rows: minmax(50px, 5fr) 35fr 60fr;
}

.tracksContainer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 65px auto;
    gap: 25px 0;
}

.videoGridItem {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videoWrapper {
    width: 100%;
    height: 100%;
}

.centeredVideo {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#videos {
    min-height: 300px;
}
/* 
#videos:last-child {
    -ms-grid-row-span: 1/2;
} */
